extends layout

block content

  // HOME PAGE
  if page == 'home'
    section.hero
      h1 Fresh Donuts Daily
      p Family-owned, made fresh, since 1992
      a.button(href='/menu') View Menu

  // MENU PAGE
  if page == 'menu'
    h1 Our Menu

  // COMMENTS
  if page == 'comments'
    h1 Customer Comments