doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet")
  body

    a.skip-link(href="#main") Skip to content

    header
      h1.title Downtown Donuts

      nav.navbar
        a(href='/') Home
        a(href='/menu') Menu
        a(href='/about') About
        a(href='/comments') Comments

    main#main
      block content

    footer
      p © Downtown Donuts